# Python
__pycache__/
*.pyc
venv/
.venv/
backend/nutriplatform/venv/
node_modules/
*.exe

# Virtual env
venv/
.env

# Django
db.sqlite3
media/

# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

*.onnx